# Google App Engine generated folder
war/WEB-INF/appengine-generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

*.class

# Package Files #
*.jar
!twitter4j-core-4.0.4.jar
*.war

#Mac
\.DS_Store
\.settings
\.metadata/